select,
.btn {
  color: orange;
}
.sort {
  outline: none;
  border: none;
}
.btn {
  border: 1px solid orange;
  border-radius: 10px;
  background-color: #fff;
}
.btn:hover {
  color: #fff;
  background-color: orange;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .products{
    width: 69%;
  }
}